:root {
    --white: #FFFFFF;
    --black: #000000;

    --gray-100: #f8f8f8;
    --gray-400: #EFEFEF;
    --gray-800: #404040;

    --blue-500: #618EE8;
    --blue-600: #4A7EE1;

    --red: #D93232;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: normal;
}

#root {
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

body {
    font-family: 'Roboto', sans-serif;
    background: var(--gray-100);
    color: var(--gray-800);
}